// @import "https://fonts.googleapis.com/css?family=Rubik:400,500&display=swap";

:root{
    // BG COlORS 
    --c-soft-blue: hsl(231, 69%, 60%);
    --c-soft-red: hsl(0, 94%, 66%);

    // TEXT COLORS 
    --c-grayish-blue: hsl(229, 8%, 60%);
    --c-dark-grayish-blue: hsl(225, 3%, 50%);
    --c-very-dark-blue: hsl(229, 31%, 21%);

}


*,
*::before,
*::after{
  margin: 0;
  padding: 0;
  font-size: 1em;
  box-sizing: inherit;
  font-family: inherit;
}

html {
  font-size: 62.5%;
  font-family: 'Rubik', sans-serif;
  box-sizing: border-box;


  @media only screen and (max-width: 75em) {
        font-size: 60%;
 
}

@media only screen and (max-width: 62.5em) {
    font-size: 55%;

}

@media only screen and (max-width: 46.875em) {
    font-size: 53%;

}
@media only screen and (max-width: 28.125em) {
    font-size: 50%;
}

}

body{
    font-size: 1.8rem;
    margin: 2.5rem 0 0 0;
    line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6{
    color: var(--c-very-dark-blue);

}

p{
    color: var(--c-grayish-blue);
    font-size: 1.4rem;
    @media only screen and (max-width: 28.125em) {
        font-size: 1.6rem;
    }
    
}

a{
    text-decoration: none;
    font-size: 1.2rem;
    color: var(--c-dark-grayish-blue);
    font-weight: 500;
    line-height: 1;
}

li{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
img{
    max-width: 100%;
    height: auto;
}
input{
    box-sizing: border-box ;
}


/////////////
// JS CLASSES
/////////////

.active-link{
    color: var(--c-very-dark-blue);
    border-bottom-color: var(--c-soft-red);
    border-top: 4px solid transparent;
    @media only screen and (max-width: 46.875em) {
        width: 100%;
        border-top: 1px solid rgba(0, 0, 0, .2);
        border-bottom: -4px solid transparent;
    }
}



/////////////////
// HEADER SECTION
////////////////


.mobile-header{
    width: 100%;
    padding: 5%;
    height: 100vh;
    position: fixed;
    display: flex;
    justify-content: space-between;
    z-index: 11;
    flex-direction: column;
    top: 0;
    left: 0;
    background-color: rgba(#2F354F, .95);

    &__nav{
        margin-top: 8rem;

        &:nth-last-of-type(){
            border-bottom: 1px solid rgba(0, 0, 0, .2);
        }

       // border: 1px solid red;

        &__item{
            border-top: 1px solid rgba(192, 191, 191, 0.2);
            display: block;
            text-align: center;
            font-size: 2.5rem;
            letter-spacing: 3px;
            color: #fff;
            font-weight: 300;
            padding: 1em 0;
            text-transform: uppercase;

            &--last{
                border-bottom: 1px solid rgba(192, 191, 191, 0.2);
            }
        }

        &__btn{
            border: 4px solid #fff;
            border-radius: 1rem;
            padding: .5em 0;
            margin-top: 2rem;
            font-weight: 400;
        }


    }

    &__social{
        margin-bottom: 5%;
        display: flex;
        align-items: center;
        justify-content: center;

        &__item--1{
            margin-right: 2rem;
        }

    }


}


.header{
    width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__logo{
        z-index: 111;
    }



    &__hamburger{
        display: none;
        z-index: 111;
        @media only screen and (max-width: 46.875em) {
            display: block;

        }

    }

    &__nav{

        display: flex;
        align-items: center;
        justify-content: center;

        @media only screen and (max-width: 46.875em) {
            display: none;

        }


        &__item{
            display: block;
            font-weight: 500;
            text-transform: uppercase;
            color: rgb(68, 68, 68);
            padding: 1.2rem;
            margin: 2rem 1rem;
            transition: color .3s ease-in,
                        box-shadow .3s ease-in;
        
            &:hover{
                color: var(--c-soft-red);
             }
        
        }

        &__btn{
            margin-right: 0;
            background-color: var(--c-soft-red);
            border: 2px solid transparent;


            &:hover{
                border: 2px solid currentColor;
                background-color: transparent;
                color: var(--c-soft-red);
                box-shadow: 0 .3rem .5rem rgba(0, 0, 0, 0.15);
            }

        }

    }

}




/////////////////
// BTNS SECTION
////////////////

.btn{
    color: #fff;
    font-weight: 500;
    padding: 1.2rem 2.4rem ;
    border-radius: .5rem;
    box-shadow: 0 .3rem .5rem rgba(0, 0, 0, 0.35);
    
    @media only screen and (max-width: 28.125em) {
           font-size: 1.4rem;
    }


}


/////////////////
// HERO SECTION
////////////////


.hero{ 
    margin-left: 5%;
    display: grid;
    grid-template-columns: 40% 1fr;
    align-items: center;
    padding: 5rem 0;
    gap: 5rem;


    @media only screen and (max-width: 46.875em) {
        grid-template-columns: 1fr;
    }


    &__text{
        @media only screen and (max-width: 56.25em) {
            text-align: center;

        }

        @media only screen and (max-width: 46.875em) {
            grid-row: 2 / 3;
            margin-right: 5%;
        }


        &__heading{
            font-size: 4.8rem;
            margin-bottom: 3rem;
            line-height: 1;

            @media only screen and (max-width: 28.125em) {
                font-size: 4rem;
            }
        }
        &__para{
           margin-bottom: 3rem;
        }



    }

    &__btns-container{
        display: flex;
        align-items: flex-start;
        @media only screen and (max-width: 56.25em) {
            justify-content: center;
        }
    }

    &__btn{


        &--blue{
            margin-right: 1rem;


            background-color: var(--c-soft-blue);
            box-shadow: 0 .2rem .3rem rgba(0, 0, 0, 0.25);
            border: 2px solid transparent;
            transition: color .3s ease-in ;

            &:hover{
                border: 2px solid currentColor;
                background-color: transparent;
                color: var(--c-soft-blue);
                box-shadow: 0 .3rem .5rem rgba(0, 0, 0, 0.15);
            }
        }

        &--white{
            color: var(--c-very-dark-blue);
            box-shadow: 0 .4rem .5rem rgba(0, 0, 0, 0.25);
            border: 2px solid transparent;

            &:hover{
                border: 2px solid currentColor;
                background-color: transparent;
                color: var(--c-very-dark-blue);
                box-shadow: 0 .3rem .5rem rgba(0, 0, 0, 0.15);
            }
        }
    }




    &__img{ 
        position: relative;
        display: flex;
        justify-content: center;
        z-index: -1;

        &::after{
            background: var(--c-soft-blue);
            height: 55%;
            width: 60%;
            z-index: -11;
            border-bottom-left-radius: 20rem;
            border-top-left-radius: 20rem;
            content: '';
            position: absolute;
            bottom: 0;
            right: 0;

        }


    }


}



.section-intro{
    width: 90%;
    max-width:  42rem;
    margin: 8rem auto;
    text-align: center;

    &__heading{
        margin: 0 0 1.5rem 0;
        font-size: 3rem;
    }

}

.features{

    width: 90%;
    margin: 0 auto;

    &__links{
        max-width: 59.55rem;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-items: center;
        border-bottom: 1px solid rgba(0, 0, 0, .2);
        transition: color .3s ease-in;
        // padding: 2rem 4rem;
        @media only screen and (max-width: 46.875em) {
            grid-template-columns: 1fr;
            width: 90%;
        }
    

        &__item{
            padding: 2rem 2.5rem;
            font-size: 1.4rem;
            display: block;
            text-align: center;
            border: 4px solid transparent;
            

            @media only screen and (max-width: 46.875em) {
                // margin-top: 1rem;
                display: block;
                padding: 2rem 4rem;
                width: 75%;
                margin: 0 auto;
            }
            &__wrapper{
                border: -4px solid transparent;
                
                @media only screen and (max-width: 46.875em) {
                    width: 100%;
                    border-top: 1px solid rgba(0, 0, 0, .2);
                    border-bottom: -4px solid transparent;
                }
            }


            &:hover{
                color: var(--c-soft-red);
            }
        }
    
    }

    &__tab{
        width: 75%;

        @media only screen and (max-width: 28.125em) {
            width: 90%;
            text-align: center;
        }
        display: grid;
        margin: 0 auto;
        grid-template-columns: repeat(2, 1fr);
        @media only screen and (max-width: 56.25em) {
            grid-template-columns:  1fr;
        }
        gap: 8rem;
        align-items: center;
        padding: 5rem 0;
        



        &__img{
            position: relative;
            margin-bottom: 15%;

            &::after{
                background: var(--c-soft-blue);
                height: 85%;
                width: 175%;
                z-index: -11;
                border-bottom-right-radius: 20rem;
                border-top-right-radius: 20rem;
    
                content: '';
                position: absolute;
                bottom: -15%;
                left: -100%;
            }
        }

        &__text{


            &__heading{
                font-size: 2.8rem
            }
            &__para{
                margin: 1.5rem 0 2rem;
            }
            &__btn{
                padding: 1.2rem 2rem;
            }
        }

    }

}

.download{
    width: 90%;
    margin: 5rem auto;

    display: grid;
    grid-template-columns: repeat(3, max-content);
    gap: 8rem;
    justify-content: center;
    align-items: start;

    @media only screen and (max-width: 56.25em) {
        grid-template-columns: 80%;
    }


    &__item{
        text-align: center;
        padding: 2rem;
        background-image: url('images/bg-dots.svg') ;
        background-repeat: no-repeat;
        background-size: fill;
        background-position: center 76%;
        border-radius: 1rem;
        box-shadow: 0px 7px 18px 0px rgba(0,0,0,0.20);
        @media only screen and (max-width: 56.25em) {
            padding: 3rem;
        }

     &-2{
        margin-top: 3rem ;
        @media only screen and (max-width: 56.25em) {
            margin-top: 0;
        }
        
    }  
     &-3{
        margin-top: 6rem;
        @media only screen and (max-width: 56.25em) {
            margin-top: 0;
        }
    }

        &__img{
            margin: 2rem 0;
        }

        &__heading{
            font-size: 2rem;
        }
        &__para{
            margin: 1rem 0 4rem 0;
        }

        &__btn{
            background-color: var(--c-soft-blue);
            border: 2px solid transparent;
            transition: color .3s ease-in;
            display: block;

            &:hover{
                border: 2px solid currentColor;
                background-color: transparent;
                color: var(--c-soft-blue);
                box-shadow: 0 .3rem .5rem rgba(0, 0, 0, 0.15);
            }
        }
    }

}


.faq{

    width: 70%;
    margin: 10rem auto;
    display: flex;
    flex-direction: column;



    @media only screen and (max-width: 56.25em) {
        width: 90%;
    }



    &__container{
        border: 1px solid;
        border-color: rgba(0, 0, 0, .2) transparent transparent;

        &:last-of-type{
            border-bottom-color:  rgba(0, 0, 0, .2);
        }
    }

    &__question{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1.5rem 1.5rem 1.5rem 0;

        cursor: pointer;



        &:hover h3{
            color: var(--c-soft-red)

        }
        

        & h3{
            color: --var(--c-very-dark-blue);
            font-size: 1.8rem;
            font-weight: 500;
            transition: color .3s ease-in;
        }
    }

    &__answer{
        padding: 1.5rem 0;
        transition: all .3s ease-in;
        display: none;

        &--text{
            font-size: 1.8rem;
            line-height: 2;



        }   
    }

    &__btn{
        margin-top: 5rem;
       background-color: var(--c-soft-blue);
       padding: 1.2rem 2rem;
       align-self: center;
    }

}


.error-icon{
    position: absolute;
    right: 1rem;
    top: 1.5rem;
    visibility: hidden;
}
.error-msg{
    position: absolute;
    text-align: left;
    @media only screen and (max-width: 46.875em){
        padding: .3rem 1.2rem ;
        position: static;
    }
    transition: position .3s ease;
    padding: .8rem 1.2rem ;
    font-weight: 500;
    font-size: 1.4rem;
    font-style: italic;
    width: 100%;
    visibility: hidden;
    background-color: var(--c-soft-red);
    z-index: 1;
    border-bottom-right-radius: .5rem;
    border-bottom-left-radius: .5rem;
}


.cta{
    background-color: var(--c-soft-blue);
    width: 100%;
    color: #fff;
    padding: 5rem 0 8rem;

    

    &__content{
        width: 90%;
        max-width: 60rem;
        margin: 0 auto;
        text-align: center;
        color: #fff;


        &__p{
            margin: 1.5rem 0;
            font-size: 1.6rem;
            color: rgb(238, 238, 238);
            letter-spacing: 3px;
            word-spacing: 5px;
        }

        &__h1{
            font-size: 3.2rem;
            color: rgb(238, 238, 238);
            margin: 3rem 0;
        }


        &__form{
            display: grid;
            grid-template-columns: calc(80% - 2rem) 20%;

            @media only screen and (max-width: 46.875em){
                grid-template-columns: 1fr;
                gap: .5rem;
            }

            gap: 2rem;
            align-items: center;
            font-size: 1.4rem;

            &--input{
                padding: 1.5rem;
                display: block;
                width: 100%;
                border-radius: .5rem;
                border: none;
                border: 2px solid transparent;
                outline: none;
                font-size: 1.6rem;
                font-weight: 500;

                
              

            }
            &--btn{
                background: var(--c-soft-red);
                border: none;
                padding: 1.5rem 0;
                cursor: pointer;
                border: 2px solid transparent;
               

                &:hover{
                    border: 2px solid currentColor;
                    background-color: transparent;
                    color:#fff;
                    box-shadow: 0 .3rem .5rem rgba(0, 0, 0, 0.15);
                }

            }
        }
    }
    
}

// EMAIL VALIDATION

.cta__content__form--input-container {
        position: relative;


        &.error .error-icon{
            visibility: visible;
        }
        &.error .error-msg{
            visibility: visible;
        }
        &.error .cta__content__form--input{
            border-bottom-right-radius: 0;
            border-bottom-left-radius: 0;
            border-color: var(--c-soft-red);
        }

    }

.footer{
    background-color: var(--c-very-dark-blue);
    padding: 1.5rem 0 1rem;

    &__content{
    width: 90%;
    max-width: 75%;
    color: #fff;
    margin: 0 auto;
    display: grid;
    grid-template-columns: max-content  1fr max-content;

    @media only screen and (max-width: 46.875em) {
        grid-template-columns: 1fr ;
        justify-items: center;
        align-items: center;
        align-content: center;
        gap: 1.5rem;
    }

    gap: 5rem;



    &__nav{
        display: flex;

        
    @media only screen and (max-width: 46.875em) {
        flex-direction: column;
        text-align: center;
    }

        &__item{
            margin: 0 2rem;
            text-transform: uppercase;
            font-size: 1.4rem;
            color: #fff;
            font-weight: 400;
            transition: color .3s ease-in;


                @media only screen and (max-width: 46.875em) {
                    margin: 3rem 0;
    
                }


            &:hover{
                color: var(--c-soft-red);
            }
        }
    }

    &__social{
        display: flex;

        &__item{
            margin-right: 2rem;
            transition: fill .3s ease-in;

            &--svg:hover{
                transition: fill .3s ease-in;
                fill: var(--c-soft-red);
             }
         }
     }
}
}


.features__links__item.active-link + .features__tab{
    display: none;
}