:root {
  --c-soft-blue: hsl(231, 69%, 60%);
  --c-soft-red: hsl(0, 94%, 66%);
  --c-grayish-blue: hsl(229, 8%, 60%);
  --c-dark-grayish-blue: hsl(225, 3%, 50%);
  --c-very-dark-blue: hsl(229, 31%, 21%);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  font-size: 1em;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  font-family: inherit;
}

html {
  font-size: 62.5%;
  font-family: 'Rubik', sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media only screen and (max-width: 75em) {
  html {
    font-size: 60%;
  }
}

@media only screen and (max-width: 62.5em) {
  html {
    font-size: 55%;
  }
}

@media only screen and (max-width: 46.875em) {
  html {
    font-size: 53%;
  }
}

@media only screen and (max-width: 28.125em) {
  html {
    font-size: 50%;
  }
}

body {
  font-size: 1.8rem;
  margin: 2.5rem 0 0 0;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--c-very-dark-blue);
}

p {
  color: var(--c-grayish-blue);
  font-size: 1.4rem;
}

@media only screen and (max-width: 28.125em) {
  p {
    font-size: 1.6rem;
  }
}

a {
  text-decoration: none;
  font-size: 1.2rem;
  color: var(--c-dark-grayish-blue);
  font-weight: 500;
  line-height: 1;
}

li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
}

input {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.active-link {
  color: var(--c-very-dark-blue);
  border-bottom: 4px solid var(--c-soft-red);
  border-top: 4px solid transparent;
}

.header {
  width: 90%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__hamburger {
  display: none;
}

@media only screen and (max-width: 46.875em) {
  .header__hamburger {
    display: block;
  }
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media only screen and (max-width: 46.875em) {
  .header__nav {
    display: none;
  }
}

.header__nav__item {
  display: block;
  font-weight: 500;
  text-transform: uppercase;
  color: #444444;
  padding: 1.2rem;
  margin: 2rem 1rem;
  -webkit-transition: color .3s ease-in, -webkit-box-shadow .3s ease-in;
  transition: color .3s ease-in, -webkit-box-shadow .3s ease-in;
  transition: color .3s ease-in, box-shadow .3s ease-in;
  transition: color .3s ease-in, box-shadow .3s ease-in, -webkit-box-shadow .3s ease-in;
}

.header__nav__item:hover {
  color: var(--c-soft-red);
}

.header__nav__btn {
  margin-right: 0;
  background-color: var(--c-soft-red);
  border: 2px solid transparent;
}

.header__nav__btn:hover {
  border: 2px solid currentColor;
  background-color: transparent;
  color: var(--c-soft-red);
  -webkit-box-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.15);
          box-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.15);
}

.btn {
  color: #fff;
  font-weight: 500;
  padding: 1.2rem 2.4rem;
  border-radius: .5rem;
  -webkit-box-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.35);
          box-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.35);
}

@media only screen and (max-width: 28.125em) {
  .btn {
    font-size: 1.4rem;
  }
}

.hero {
  margin-left: 5%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 40% 1fr;
      grid-template-columns: 40% 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5rem 0;
  gap: 5rem;
}

@media only screen and (max-width: 46.875em) {
  .hero {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

@media only screen and (max-width: 56.25em) {
  .hero__text {
    text-align: center;
  }
}

@media only screen and (max-width: 46.875em) {
  .hero__text {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2 / 3;
    margin-right: 5%;
  }
}

.hero__text__heading {
  font-size: 4.8rem;
  margin-bottom: 3rem;
  line-height: 1;
}

@media only screen and (max-width: 28.125em) {
  .hero__text__heading {
    font-size: 4rem;
  }
}

.hero__text__para {
  margin-bottom: 3rem;
}

.hero__btns-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

@media only screen and (max-width: 56.25em) {
  .hero__btns-container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.hero__btn--blue {
  margin-right: 1rem;
  background-color: var(--c-soft-blue);
  -webkit-box-shadow: 0 0.2rem 0.3rem rgba(0, 0, 0, 0.25);
          box-shadow: 0 0.2rem 0.3rem rgba(0, 0, 0, 0.25);
  border: 2px solid transparent;
  -webkit-transition: color .3s ease-in;
  transition: color .3s ease-in;
}

.hero__btn--blue:hover {
  border: 2px solid currentColor;
  background-color: transparent;
  color: var(--c-soft-blue);
  -webkit-box-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.15);
          box-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.15);
}

.hero__btn--white {
  color: var(--c-very-dark-blue);
  -webkit-box-shadow: 0 0.4rem 0.5rem rgba(0, 0, 0, 0.25);
          box-shadow: 0 0.4rem 0.5rem rgba(0, 0, 0, 0.25);
  border: 2px solid transparent;
}

.hero__btn--white:hover {
  border: 2px solid currentColor;
  background-color: transparent;
  color: var(--c-very-dark-blue);
  -webkit-box-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.15);
          box-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.15);
}

.hero__img {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hero__img::after {
  background: var(--c-soft-blue);
  height: 55%;
  width: 60%;
  z-index: -11;
  border-bottom-left-radius: 20rem;
  border-top-left-radius: 20rem;
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
}

.section-intro {
  width: 90%;
  max-width: 42rem;
  margin: 8rem auto;
  text-align: center;
}

.section-intro__heading {
  margin: 0 0 1.5rem 0;
  font-size: 3rem;
}

.features {
  width: 90%;
  margin: 0 auto;
}

.features__links {
  max-width: 59.55rem;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-transition: color .3s ease-in;
  transition: color .3s ease-in;
}

@media only screen and (max-width: 46.875em) {
  .features__links {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    width: 90%;
  }
}

.features__links__item {
  padding: 2rem 2.5rem;
  font-size: 1.4rem;
  display: block;
  text-align: center;
  border-top: 4px solid transparent;
}

@media only screen and (max-width: 46.875em) {
  .features__links__item {
    display: block;
    padding: 2rem 4rem;
    width: 75%;
    margin: 0 auto;
  }
}

.features__links__item__wrapper {
  border-bottom: -4px solid transparent;
}

@media only screen and (max-width: 46.875em) {
  .features__links__item__wrapper {
    width: 100%;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
  }
}

.features__links__item:hover {
  color: var(--c-soft-red);
}

.features__tab {
  width: 75%;
  display: -ms-grid;
  display: grid;
  margin: 0 auto;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  gap: 8rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5rem 0;
}

@media only screen and (max-width: 28.125em) {
  .features__tab {
    width: 90%;
    text-align: center;
  }
}

@media only screen and (max-width: 56.25em) {
  .features__tab {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.features__tab__img {
  position: relative;
  margin-bottom: 15%;
}

.features__tab__img::after {
  background: var(--c-soft-blue);
  height: 85%;
  width: 175%;
  z-index: -11;
  border-bottom-right-radius: 20rem;
  border-top-right-radius: 20rem;
  content: '';
  position: absolute;
  bottom: -15%;
  left: -100%;
}

.features__tab__text__heading {
  font-size: 2.8rem;
}

.features__tab__text__para {
  margin: 1.5rem 0 2rem;
}

.features__tab__text__btn {
  padding: 1.2rem 2rem;
}

.download {
  width: 90%;
  margin: 5rem auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (max-content)[3];
      grid-template-columns: repeat(3, -webkit-max-content);
      grid-template-columns: repeat(3, max-content);
  gap: 8rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

@media only screen and (max-width: 56.25em) {
  .download {
    -ms-grid-columns: 80%;
        grid-template-columns: 80%;
  }
}

.download__item {
  text-align: center;
  padding: 2rem;
  background-image: url("images/bg-dots.svg");
  background-repeat: no-repeat;
  background-size: fill;
  background-position: center 76%;
  border-radius: 1rem;
  -webkit-box-shadow: 0px 7px 18px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 7px 18px 0px rgba(0, 0, 0, 0.2);
}

@media only screen and (max-width: 56.25em) {
  .download__item {
    padding: 3rem;
  }
}

.download__item-2 {
  margin-top: 3rem;
}

@media only screen and (max-width: 56.25em) {
  .download__item-2 {
    margin-top: 0;
  }
}

.download__item-3 {
  margin-top: 6rem;
}

@media only screen and (max-width: 56.25em) {
  .download__item-3 {
    margin-top: 0;
  }
}

.download__item__img {
  margin: 2rem 0;
}

.download__item__heading {
  font-size: 2rem;
}

.download__item__para {
  margin: 1rem 0 4rem 0;
}

.download__item__btn {
  background-color: var(--c-soft-blue);
  border: 2px solid transparent;
  -webkit-transition: color .3s ease-in;
  transition: color .3s ease-in;
  display: block;
}

.download__item__btn:hover {
  border: 2px solid currentColor;
  background-color: transparent;
  color: var(--c-soft-blue);
  -webkit-box-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.15);
          box-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.15);
}

.faq {
  width: 70%;
  margin: 10rem auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media only screen and (max-width: 56.25em) {
  .faq {
    width: 90%;
  }
}

.faq__container {
  border: 1px solid;
  border-color: rgba(0, 0, 0, 0.2) transparent transparent;
}

.faq__container:last-of-type {
  border-bottom-color: rgba(0, 0, 0, 0.2);
}

.faq__question {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1.5rem 1.5rem 1.5rem 0;
  cursor: pointer;
}

.faq__question:hover h3 {
  color: var(--c-soft-red);
}

.faq__question h3 {
  color: --var(--c-very-dark-blue);
  font-size: 1.8rem;
  font-weight: 500;
  -webkit-transition: color .3s ease-in;
  transition: color .3s ease-in;
}

.faq__answer {
  padding: 1.5rem 0;
  -webkit-transition: all .3s ease-in;
  transition: all .3s ease-in;
  display: none;
}

.faq__answer--text {
  font-size: 1.8rem;
  line-height: 2;
}

.faq__btn {
  margin-top: 5rem;
  background-color: var(--c-soft-blue);
  padding: 1.2rem 2rem;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.cta {
  background-color: var(--c-soft-blue);
  width: 100%;
  color: #fff;
  padding: 5rem 0 8rem;
}

.cta__content {
  width: 90%;
  max-width: 60rem;
  margin: 0 auto;
  text-align: center;
  color: #fff;
}

.cta__content__p {
  margin: 1.5rem 0;
  font-size: 1.6rem;
  color: #eeeeee;
  letter-spacing: 3px;
  word-spacing: 5px;
}

.cta__content__h1 {
  font-size: 3.2rem;
  color: #eeeeee;
  margin: 3rem 0;
}

.cta__content__form {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: calc(80% - 2rem) 20%;
      grid-template-columns: calc(80% - 2rem) 20%;
  gap: 2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.4rem;
}

@media only screen and (max-width: 46.875em) {
  .cta__content__form {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.cta__content__form--input {
  padding: 1.5rem;
  border-radius: .5rem;
  border: none;
  border: 2px solid transparent;
  outline: none;
}

.cta__content__form--input::before {
  content: "rgus us ";
  width: 150px;
  height: 150px;
  background-color: red;
  border: 2px solid green;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 333;
}

.cta__content__form--input:focus {
  border: 2px solid var(--c-soft-red);
}

.cta__content__form--btn {
  background: var(--c-soft-red);
  border: none;
  padding: 1.5rem 0;
  cursor: pointer;
  border: 2px solid transparent;
  -webkit-transition: all .3s ease-in;
  transition: all .3s ease-in;
}

.cta__content__form--btn:hover {
  border: 2px solid currentColor;
  background-color: transparent;
  color: #fff;
  -webkit-box-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.15);
          box-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.15);
}

.footer {
  background-color: var(--c-very-dark-blue);
  padding: 1.5rem 0 1rem;
}

.footer__content {
  width: 90%;
  max-width: 75%;
  color: #fff;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: max-content  1fr max-content;
      grid-template-columns: -webkit-max-content  1fr -webkit-max-content;
      grid-template-columns: max-content  1fr max-content;
  gap: 5rem;
}

@media only screen and (max-width: 46.875em) {
  .footer__content {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    justify-items: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-line-pack: center;
        align-content: center;
    gap: 1.5rem;
  }
}

.footer__content__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media only screen and (max-width: 46.875em) {
  .footer__content__nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
}

.footer__content__nav__item {
  margin: 0 2rem;
  text-transform: uppercase;
  font-size: 1.4rem;
  color: #fff;
  font-weight: 400;
  -webkit-transition: color .3s ease-in;
  transition: color .3s ease-in;
}

@media only screen and (max-width: 46.875em) {
  .footer__content__nav__item {
    margin: 3rem 0;
  }
}

.footer__content__nav__item:hover {
  color: var(--c-soft-red);
}

.footer__content__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__content__social__item {
  margin-right: 2rem;
  -webkit-transition: fill .3s ease-in;
  transition: fill .3s ease-in;
}

.footer__content__social__item--svg:hover {
  -webkit-transition: fill .3s ease-in;
  transition: fill .3s ease-in;
  fill: var(--c-soft-red);
}
/*# sourceMappingURL=style.css.map */